@{
    ViewData["Title"] = "Player";
}

<div class="text-center">
    <h3 class="heading my-3">Music Player</h3>
    <div class="container-fluid">
        <div id="audio-spectrum"></div>
        <div class="container-fluid">
            <!-- Create action button -->
            <div class="player-btn my-2 mx-auto">
                <input class="btn btn-outline-success " type="button" id="btn-play" value="Play" disabled="disabled" />
                <input class="btn btn-outline-success mx-5" type="button" id="btn-pause" value="Pause" disabled="disabled" />
                <input class="btn btn-outline-success" type="button" id="btn-stop" value="Stop" disabled="disabled" />
            </div>
        </div>
    </div>
</div>
