@{
    ViewData["Title"] = "Register";
}

<section class="section-main">
    <div class="container-fluid">
        <div class="row">

            <div class="container">
                <h3 class="heading my-5">Registration</h3>

                <div class="container-fluid reg">
                    <form class="register-form">
                        <div class="form-row">
                            <div class="form-group col-md-6 mx-auto">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 mx-auto">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 mx-auto">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 mx-auto">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm password">
                            </div>
                        </div>


                        <div class="text-center my-5">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
   
</section>